
#network {
  border: 1px lightgrey solid;
  height: 70vh;
}


/**************************** MENU **********************/
/**************************** MENU **********************/
/**************************** MENU **********************/
.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}


#sidebar {
  background-color : lightgrey;
  transition: all 0.3s;

  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
}

#sidebar-items {
  margin-top: 50%;
}

.sidebar-item {
    padding: 10px;
    font-size: 20px;
    display: block;

}

#sidebar ul li a {
    text-decoration: none;
    color : #727272;
}

#sidebar ul li a:hover {
  text-decoration: none;
  color : white;
  background-color: #f47142;
  transition: ease 0.5s;
}

#sidebar.active {
    margin-left: -200px;
}

#sidebarCollapse:hover, #optionsCollapse:hover, #graphBtn:hover {
  background: black;
  transition: ease 0.5s;
  color: white;
}


#experiment-name:hover {
  transition : 0.3s;
  color : #3663aa ;
}

#options-panel {
  
  min-width: 250px;
  max-width: 250px;
  height : 70vh;

}

#options-panel.active  {
   transition: 0.3s;
    margin-right : -250px;
    display: none;
}

.fa-minus {
  font-size: 1.5em;
}


.btn-add {
  font-size: 0.9rem !important;
}
/**************************** PLAYER **********************/
/**************************** PLAYER **********************/
/**************************** PLAYER **********************/

.arrow {
  font-size : 1em;
}

#player {
  margin-top: 3em;
  padding : 1em;
  background-color : #c4bebe;
  width : 25vw;
  border: 1px solid #9b9b9b;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%; 
  background: #42b2f7;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #42b2f7;
  cursor: pointer;
}


.player-btn:hover {
  transition: 0.3s;
  color : #eaebed;
}

/**************************** MODAL **********************/
/**************************** MODAL **********************/
/**************************** MODAL **********************/
.modal-body {
  overflow : auto;
}


/* positionnement des modals particulier */
#modal-experiment .modal-dialog  {
   position: absolute;
   left : 70%;
}

#modal-entity .modal-dialog  {
   position: absolute;
   bottom : 0;
   left : 20%;
}

#modal-relation .modal-dialog  {
   position: absolute;
   bottom : 0;
   right : 5%;
}

/* Permettre de cliquer derrière le modal */
.modal {
    pointer-events: none;
}

/**************************** GRAPH **********************/
/**************************** GRAPH **********************/
/**************************** GRAPH **********************/


.checkbox-container {
  height : 17em;
}

.checkboxes {
  height : 7.5rem;
}

/**************************** GRAPH **********************/
.inputError {
  font-size: 0.9em;
}



/**************************** INDEX **********************/
/**************************** INDEX **********************/
/**************************** INDEX **********************/

.icon {
  width : 3rem;
  height: auto;
}

.icon-with-writing {
  width : 9rem;
  height: auto;
}

.little-icon {
  width : 1.5rem;
  height: auto;
}

.icon:hover, .icon-with-writing:hover {
  transition: 0.3s;
  opacity: 0.5;
}
#presentation {
  height : 80vh;
  border-bottom: 1px lightgrey solid;
}

#presentation a:hover {
  text-decoration: none;
}

#about a:hover {
  text-decoration: none;
}


